In [10]:
import pandas as pd
import itertools

In [3]:
homes = pd.read_csv('data/Zip_Zhvi_SingleFamilyResidence.csv')

In [6]:
homes.shape

(15360, 275)

In [4]:
homes.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1009200,1012200,1018100,1024500,1029400,1031600,1032400,1034400,1035400,1033600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,313800,315000,316700,319000,321300,322600,323300,324200,324400,323500
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,320400,320900,321200,322700,326400,330200,332500,334300,335800,336600
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1290800,1295800,1299000,1305000,1310000,1311700,1313600,1316400,1314300,1309400
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,120400,120400,120300,120400,120500,120700,121200,122100,122900,123300

In [21]:
# Auto generate years and months to use for analysis
years = range(2005, 2013)
months = range(1,13)
desired_dates = ['{y}-{m:02d}'.format(y=year, m=month) for year, month in itertools.product(years, months)]

In [22]:
# Get MoM growth
crash_homes = homes.loc[:, ['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
                        'SizeRank'] + desired_dates ]

In [29]:
growth_dates = desired_dates[1:]
start_date = desired_dates[0]
for date in growth_dates:
    crash_homes.loc[:, date + '_growth'] = (( crash_homes[date] - crash_homes[start_date] ) / crash_homes[start_date]) * 100
    start_date = date

In [31]:
crash_homes.to_csv('test.csv')